@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 color: #ffffff;

}

a, a:visited{
  color: inherit;
}

a:hover{
    color: blue;
}

a:active{
    color: red;
}

header{
  width: 100vw;
  height: 100vh;
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  color: #ffffff;
  size-font: 13;
  text-align: center;
  }

aside {
 background: red;
 padding: 10px;
 width: 200px;
 float: right;
}

main{

}

footer{

}

.PlayStation{
background: #0374b8;
  width: 100vw;
  height: 100vh;
}

.Xbox{
background: #1d8615;
  width: 100vw;
  height: 100vh;
}

.Nintendo{
background: #ed404f;
  width: 100vw;
  height: 100vh;
}

.back_to_main {
    height: 95px;
    overflow: hidden;
    width: 60%;
    margin:0 auto;
    position: relative;
    bottom: 0px;
    top: 100px;
    left: 0px;
}

a.button_selection,
a.button_selection:visited {
    margin:0 auto;
    display: block;
    line-height: 50px;
    height: 50px;
    width: 24%;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 100px 0 #FFF,1px 76px 10px #000;
    color: #FFF;
    background: #7b68ee;
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;


}
a.button_selection:hover {
    text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
    margin-top: -50px;
    height: 100px;
    background: #0374b8;
}

a.button_selection:active {
    text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
    margin-top: -50px;
    height: 100px;
    background: #1d8615;
}


